/* rem and em do NOT depend on html font-size in media queries
Instead: 1rem = 1em  
rem - root font size
em - current font size 
!! USE em instead of rem in media queries !!*/

/* Percentage of user's browser font-size setting: */
/* 10px / 16px = 0.652 = 62.5% */

/************************************
/* BELOW 1295px (Landscape Tablets yellow  */
/************************************/

/* 1295px/16 = 75em */
@media (max-width: 81em) {
  .container {
    height: auto;
  }

  .container-profile-picture {
    width: auto;
    height: auto;
  }
  .about-img-div {
    width: auto;
    height: auto;
    margin-left: 2rem;
  }

  .slides-wrapper {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .testimonial-text {
    font-size: 1.8rem;
  }

  .text-projects-info {
    font-size: 1.8rem;
  }

  .text-about {
    font-size: 2rem;
    line-height: 1.2;
    color: black;
    margin-top: 3rem;
  }

  .edu-text {
    font-size: 1.2rem;
    text-align: center;
  }

  .div-projects-tabs {
    row-gap: 1.6rem;
  }
}

/*******************************
/* BELOW 850px (Tablets) green */
/******************************/
/* 850/16=53.125 */

@media (max-width: 53em) {
  html {
    font-size: 50%;
  }

  .main_nav {
    -webkit-backdrop-filter: blur(10px); /*for Safari*/
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    transition: all 0.7s ease-in;

    /* HIDE NAVIGATION */
    /* allows NO transitions at all */
    /* display: none; */

    /* 1. hide it visually */
    opacity: 0;

    /* 2. make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. hide it from screen readers */
    /* visibility: hidden; */
  }

  .nav_list {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
    z-index: 1000;
  }

  .nav-item {
    margin: 0;
  }

  .nav_link_icon {
    margin-left: 4rem;
    margin-bottom: 6.4rem;
  }

  .custom-loader {
    height: 40px;
    width: 40px;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
    position: fixed;
    right: 2.4rem;
    top: 1.6rem;
  }

  .nav-open.main_nav {
    opacity: 3;
    pointer-events: auto;
    visibility: visible;
    position: fixed;
    transform: translateX(0);
    background-color: transparent;
  }

  .nav-open.icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open.icon-mobile-nav[name="menu-outline"] {
    display: block;
  }

  h1 {
    font-size: 5.2rem;
  }

  .profile-picture {
    background-size: 60vh;
  }

  .header {
    height: auto;
  }

  .container-header {
    grid-template-columns: 1fr 1fr;
  }

  .section {
    margin-bottom: 2rem;
  }

  .nav_link:link,
  .nav_link:visited {
    font-weight: 600;
    font-size: 3.6rem;
  }

  .container-about {
    grid-template-columns: 1fr;
  }

  .about-img-div {
    flex-direction: row;
    gap: 5rem;
    margin-left: 0;
  }

  .icon-about {
    font-size: 12rem;
  }
}

/*******************************
/* BELOW 690px (Tablets) pink */
/******************************/
/* /16=43.125 */

@media (max-width: 43em) {
  .div8 {
    grid-area: 3/ 2 / 4 / 3;
  }

  .div4 {
    /* grid-area: 3 / 1 / 4 / 2; */
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .edu-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .slides-wrapper {
    width: 45rem;
  }

  .testimonial-modal {
    height: 70vh;
    width: 55vh;
  }

  .projects-picture-wrapper {
    width: 80%;
  }
}

/*******************************
/* BELOW 540px (Tablets) pink */
/******************************/

@media (max-width: 34em) {
  body {
    background-image: url(../img/concrete3.webp);
  }

  .profile-picture {
    background-size: 56vh;
  }

  .header {
    height: auto;
  }

  .icon-about {
    font-size: 15rem;
  }

  .text-about {
    font-size: 1.8rem;
  }

  .slides-wrapper {
    width: 35rem;
  }

  .icon-about {
    font-size: 8rem;
  }

  .edu-text {
    font-size: 1.1rem;
    text-align: center;
  }

  h1 {
    font-size: 4.4rem;
  }
}

/*******************************
/* BELOW 431px (Tablets) pink */
/******************************/

@media (max-width: 27em) {
  .container-about {
    grid-template-columns: 1fr;
  }

  .profile-picture {
    background-size: 42vh;
  }

  .about-img-div {
    flex-direction: row;
    margin-top: 2.4rem;
  }

  .projects-picture-wrapper {
    width: 98%;
  }

  .projects-picture {
    height: 35rem;
    width: 34rem;
  }

  .edu-wrapper {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }

  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .div6 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .div7 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .btn-slider {
    height: 2rem;
    width: 2rem;
    font-size: 1.8rem;
  }

  .slide {
    padding: 1.8rem;
  }

  .slides-wrapper {
    width: 33rem;
  }

  .testimonial-modal {
    height: 62vh;
    width: 47vh;
  }

  .testimonial-text {
    font-size: 1.5rem;
  }

  .sentence-header {
    font-size: 1.8rem;
  }
}

/*******************************
/* BELOW 365px  purple */
/******************************/

@media (max-width: 23em) {
  .projects-picture {
    height: 31rem;
    width: 30rem;
  }

  .slides-wrapper {
    width: 30rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.2rem;
  }
  .div-projects-tabs {
    justify-content: center;
  }

  .projects-tab {
    width: 15rem;
  }
}

/*******************************
/* BELOW 320px  */
/******************************/

@media (max-width: 20em) {
  .container-header {
    grid-template-columns: 1fr;
    height: auto;
  }
  .profile-picture {
    height: 42rem;
  }

  .btn-header:link,
  .btn-header:visited {
    margin-top: 2.4rem;
  }
  .projects-picture-wrapper {
    width: 90%;
  }

  .projects-picture {
    height: 98%;
    width: 98%;
  }

  .wrapper {
    grid-template-columns: 1fr 4.5fr 1fr;
  }

  .slides-wrapper {
    width: 22em;
  }

  .projects-text-see-website {
    font-size: 1.2rem;
  }

  .projects-tab {
    font-size: 1.4rem;
  }
}

/**********************************/
/*     FIXING SAFARI FLEXBOX GAP  */
/**********************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}

/* Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* --- SPACING SYSTEM (px) ---
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
